/dts-v1/;
/ {
	compatible = "opencores,or1ksim";
	#address-cells = <1>;
	#size-cells = <1>;
	interrupt-parent = <&pic>;

	chosen {
		bootargs = "console=uart,mmio,0x90000000,115200";
	};

	memory@0 {
		device_type = "memory";
		reg = <0x00000000 0x02000000>;
	};

	cpus {
		#address-cells = <1>;
		#size-cells = <0>;
		cpu@0 {
			compatible = "opencores,or1200-rtlsvn481";
			reg = <0>;
			clock-frequency = <50000000>;
		};
	};

	/*
	 * OR1K PIC is built into CPU and accessed via special purpose
	 * registers.  It is not addressable and, hence, has no 'reg'
	 * property.
	 */
	pic: pic {
		compatible = "opencores,or1k-pic";
		#interrupt-cells = <1>;
		interrupt-controller;
	};

	serial0: serial@90000000 {
		compatible = "opencores,uart16550-rtlsvn105", "ns16550a";
		reg = <0x90000000 0x100>;
		interrupts = <2>;
		clock-frequency = <50000000>;
	};

	serial1: serial@91000000 {
		compatible = "opencores,uart16550-rtlsvn105", "ns16550a";
		reg = <0x91000000 0x100>;
		interrupts = <3>;
		clock-frequency = <50000000>;
	};

        i2c@a0000000 {
		compatible = "opencores,i2c-ocores";
		reg = <0xa0000000 0x8>;
		reg-shift = <0>;        /* 8 bit registers */
		interrupts = <14>;
		clock-frequency = <400000>;
		#address-cells = <1>;
		#size-cells = <0>;
		env_sensor@27 {	 /* U9 */
			compatible = "honeywell,hih6130";
			reg = <0x27>;
		};
        };
        i2c@a1000000 {
		compatible = "opencores,i2c-ocores";
		reg = <0xa1000000 0x8>;
		reg-shift = <0>;        /* 8 bit registers */
		interrupts = <15>;
		clock-frequency = <400000>;
		#address-cells = <1>;
		#size-cells = <0>;
		accelerometer@19 {	/* U10, Linear acceleration digital interface */
			compatible = "stm,lsm303dlhc";
			reg = <0x19>;
		};
		magnetometer@1e {	/* U10, Magnetic field digital interface */
			compatible = "stm,lsm303dlhc";
			reg = <0x1e>;
		};
        };

        spi@b0000000 {
		compatible = "opencores,spi-simple";
		reg = <0xb0000000 0x4>;
		interrupts = <7>;
		#address-cells = <1>;
		#size-cells = <0>;
		adc@0 {
			#address-cells = <1>;
			#size-cells = <1>;
			spi-max-frequency = <5000000>;	/* 1/10 of specified max (50ns). Not sure on board signal quality */
			compatible = "maxim,max11040k";
			reg = <0>;
		};
        };

        spi@b1000000 {
		compatible = "opencores,spi-simple";
		reg = <0xb1000000 0x4>;
		interrupts = <8>;
		#address-cells = <1>;
		#size-cells = <0>;
		pga@0 {		/* U2 */
			#address-cells = <1>;
			#size-cells = <1>;
			spi-max-frequency = <5000000>;
			compatible = "maxim,max9939";
			reg = <0>;
		};
		pga@1 {		/* U4 */
			#address-cells = <1>;
			#size-cells = <1>;
			spi-max-frequency = <5000000>; 
			compatible = "maxim,max9939";
			reg = <1>;
		};
		pga@2 {		/* U6 */
			#address-cells = <1>;
			#size-cells = <1>;
			spi-max-frequency = <5000000>;
			compatible = "maxim,max9939";
			reg = <2>;
		};
		pga@3 {		/* U8 */
			#address-cells = <1>;
			#size-cells = <1>;
			spi-max-frequency = <5000000>;
			compatible = "maxim,max9939";
			reg = <3>;
		};
        };

        spi@b2000000 {
		compatible = "opencores,spi-simple";
		reg = <0xb2000000 0x4>;
		interrupts = <9>;
		#address-cells = <1>;
		#size-cells = <0>;
		oled@0 {
			#address-cells = <1>;
			#size-cells = <1>;
			spi-max-frequency = <3300000>;
			compatible = "newhaven,nhd‐0216kzw‐ab5";
			reg = <0>;
		};
        };

        spi@b3000000 {
		compatible = "opencores,spi-simple";
		reg = <0xb3000000 0x4>;
		interrupts = <10>;
		#address-cells = <1>;
		#size-cells = <0>;
		wifi@0 {
			#address-cells = <1>;
			#size-cells = <1>;
			spi-max-frequency = <33000000>;
			compatible = "????";
			reg = <0>;
		};
        };
};
