/dts-v1/;
/ {
	compatible = "opencores,or1ksim";
	#address-cells = <1>;
	#size-cells = <1>;
	interrupt-parent = <&pic>;

	chosen {
		bootargs = "console=uart,mmio,0x90000000,115200";
	};

	memory@0 {
		device_type = "memory";
		reg = <0x00000000 0x02000000>;
	};

	cpus {
		#address-cells = <1>;
		#size-cells = <0>;
		cpu@0 {
			compatible = "opencores,or1200-rtlsvn481";
			reg = <0>;
			clock-frequency = <50000000>;
		};
	};

	/*
	 * OR1K PIC is built into CPU and accessed via special purpose
	 * registers.  It is not addressable and, hence, has no 'reg'
	 * property.
	 */
	pic: pic {
		compatible = "opencores,or1k-pic";
		#interrupt-cells = <1>;
		interrupt-controller;
	};

	serial0: serial@90000000 {
		compatible = "opencores,uart16550-rtlsvn105", "ns16550a";
		reg = <0x90000000 0x100>;
		interrupts = <2>;
		clock-frequency = <50000000>;
	};

	enet0: ethoc@92000000 {
		compatible = "opencores,ethmac-rtlsvn338";
		reg = <0x92000000 0x100>;
		interrupts = <4>;
	};

        spi3: spi@b3000000 {
		compatible = "opencores,spi";
		reg = <0xb3000000 0x20>;
		interrupts = <7>;
		#address-cells = <1>;
		#size-cells = <0>;
		flash@0 {
			#address-cells = <1>;
			#size-cells = <1>;
			spi-max-frequency = <33000000>;
			compatible = "stm,m25p80";
			reg = <0>;
			partition@fpga {
				label = "fpga";
				reg = <0x000000 0x0b0000>;
			};
			partition@ubootenv {
				label = "ubootenv";
				reg = <0x0b0000 0x010000>;
			};
			partition@uboot {
				label = "uboot";
				reg = <0x0c0000 0x040000>;
			};
/* No space for Linux in ordb2a flash. Following is suitable for 8MB version
			partition@linux {
				label = "linux";
				reg = <0x100000 0x700000>;
			};
*/
		};
        };

};
